<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
        <string>Azman.iSalah</string>
    </array>

    <key>UIBackgroundModes</key>
    <array>
        <string>processing</string>
    </array>

    <key>UIAppFonts</key>
    <array>
        <string>Dubai-Bold.ttf</string>
        <string>Dubai-Light.ttf</string>
        <string>Dubai-Medium.ttf</string>
        <string>Dubai-Regular.ttf</string>
    </array>
    <key>UIBackgroundModes</key>
    <array>
        <string>processing</string>
        <string>fetch</string>
        <string>location</string>
        <string>remote-notification</string>
    </array>
    <key>UIFileSharingEnabled</key>
    <true/>

    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>UIApplicationSkipsOnboarding</key>
    <true/>
</dict>
</plist>
